{% extends "base.html" %}

{% block title %}
  Product list
{% endblock %}


{% block content %}

<table>
    <tr>
        <th>name</th>
        <th>store</th>
        <th>gluten-free</th>
    </tr>
    {% for product in product_list %}
    <tr>
        <td><li><a href="product_details/{{ product.id }}">{{ product.name }}</a></li></td>
        <td>{{ product.store}} </td>
        <td>{{ product.gluten_free }}</td>
    </tr>
    {% endfor %}
</table>
<br/>

<p>Back to <a href="/">home</a></p>
{% endblock %}
