{% extends "base.html" %}

{% block title %}
  Product details
{% endblock %}


{% block content %}
    <a href="/" class="btn btn-outline-primary">home</a>
    <a href="/product_list" class="btn btn-outline-primary">product list</a>


<h3>{{ product.name }}</h3>
<table>
    <tr><td>brand</td><td>{{ product.brand }}</td></tr>
    <tr><td>store</td><td>{{ product.store }}</td></tr>
    <tr><td>category</td><td>{{ product.category }}</td></tr>
    <tr><td>gluten-free</td><td>{{ product.gluten_free }}</td></tr>
    <tr><td>price</td><td>{{ product.price }}</td></tr>
    <tr><td>date</td><td>{{ product.date }}</td></tr>
</table>
<br/>

{% endblock %}